body{
  background-color: burlywood;
}
.App-header{
  background-color: #282c34;
  height: 100px;
  padding:50px 25px 5px 25px;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}

.todo-instructions{
  font-size: 20px;
  text-align: center;
  padding:50px 25px 5px 25px;
  background-color: white;
}

.todo-instructions>ul{
  list-style-type: none;
}

.todo{
  background-color: #282c34;
}

input[type=text]{
  width:70%;
  background-color: #d5dadf;
  padding : 10px 20px 10px 5px;
  font-family: Roboto;
  font-size: 20px;
}

button{
  width:25%;
  padding : 10px 20px 10px 5px;
  font-family: Roboto;
  font-size: 20px;
  color : white;
  background-color: #1d8a3a;
}

.Add-event{
  width: 60%;
  background-color: beige;
  padding:20px;
  margin :auto;
}


.todoList{
  background-color: rgb(141, 167, 50);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding:10px;
  /* width:60%; */
}

.todoList>label{
  font-size: 29px;
  font-family: Roboto;
  color: #f5f5f5;
}

.todoList>button{
  background-color: transparent;
  margin-left: 80%;
  width: 10%;
  opacity: 0.2;
  color: brown;
  border: transparent;
}

.todoList>button:hover{
  opacity: 1;
}

.footer{
  margin : Auto;
  background-color: rgb(56, 91, 206);
  padding:20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.footer > span{
  /* width: 25%; */
  width : 30%;
  margin-left:10px;
  font-size: 20px;
  color:white;
  font-family: Roboto;

  /* border:2px solid white; */
  padding:10px;

}

.footer > button{
  margin-left:10px;
  background-color: transparent;
  border:none;
  font-family: Roboto;
  color:white;
  font-size: 20px;
  /* border:2px solid white; */
  padding:10px;

}

