body{
  background-color: burlywood;
}
.App-header{
  background-color: #282c34;
  height: 100px;
  padding:50px 25px 5px 25px;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}

.todo-instructions{
  font-size: 20px;
  text-align: center;
  padding:50px 25px 5px 25px;
  background-color: #f0f3f4;
}

.todo-instructions>ul{
  list-style-type: none;
}

.todo{
  background-color: #282c34;
}

input[type=text]{
  width:70%;
  padding : 10px 20px 10px 5px;
  font-family: Roboto;
  font-size: 20px;
}

button{
  width:20%;
  padding : 10px 20px 10px 5px;
  font-family: Roboto;
  font-size: 20px;
  color : white;
  background-color: #1d8a3a;
}

.Add-event{
  width: 60%;
  background-color: beige;
  padding:20px;
  margin :auto;

}


